@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #ebbe9b;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0%;
    min-height: 100vh;
}

.quiz-container{
    background-color: #ffff;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    width: 5px;
    overflow: hidden;
    width: 600px;
    max-width: 100%;

}
.quiz-header{
    padding: 4rem;

}
h2{
    margin: 0;
}

ul{
    list-style-type: none;
    padding: 0;
}

ul li{
    font-size: 1.1rem;
    margin: 1rem 0;
}

ul li label{
    cursor: pointer;
}

button{
    background-color: #8e44ad;
    border:none;
    cursor: pointer;
    font-size: 1.3rem;
    color: white;
    display: block;
    font-family: inherit;
    width: 100%;
    padding: 1rem;
}
button:hover{
    background-color: #732d91;
}